.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c3;
	-ms-transform: skew(-12deg);
	-webkit-transform: skew(-12deg);
	transform: skew(-12deg);
	&:hover{
		background: darken(@c2,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@c2,0%);
		}
	}
}