body {
	//width: 1920px;
}
#page-header {
	padding: 33px 0 0;
	border-bottom: 6px solid @c2;
	@media @xs, @xxs {
		border-bottom: none;
		padding-top: 20px;
	}
}
#page-footer {
	padding: 35px 0;
	border-top: 6px solid @c2;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-main {
	float: right;
	width: 760px;
	margin: 0 0 50px;
	@media @md {
		width: 620px;
	}
	@media @sm, @xs, @xxs {
		width: 100%;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-left {
	float: left;
	width: 265px;
	margin: 0 0 50px;
	@media @sm, @xs, @xxs {
		width: 100%;
	}
}
.header_logo { 
	float: left;
	width: 216px;
	margin: 0 24px 20px 0;
	@media @xs, @xxs {
		margin: 0 auto 10px;
		float: none;
	}
	a { 
		img { 
		}
	}
}
.header_slogan { 
	.fh;
	text-transform: uppercase;
	float: left;
	width: 300px;
	margin: 7px 0 20px;
	font-size: 14px;
	line-height: 1.2;
	@media @xs, @xxs {
		float: none;
		width: 160px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	a { 
		text-decoration: none;
		color: @c1;
		img { 
			max-width: 184px;
			display: block;
			margin: 0 0 7px;
			@media @xs, @xxs {
				max-width: 100%;
			}
		}
	}
}
.toggle_menu {
	display: none;
	margin: 0 auto 10px;
	min-width: 33.3333%;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-transform: uppercase;
	@media @xs, @xxs {
		display: block;
	}
	span {
		display: block;
		-ms-transform: skew(12deg);
		-webkit-transform: skew(12deg);
		transform: skew(12deg);
		&:before {
			.fi;
			content: '\f0c9';
			font-weight: normal;
			margin: 0 10px 0 0;
		}
	}
}
.mod_menu-main { 
	float: right;
	width: 570px;
	@media @md, @sm, @xs, @xxs {
		float: none;
		clear: both;
		width: auto;
	}
	@media @xs, @xxs {
		display: none;
		margin: 0 -20px;
		border-top: 6px solid @c2;
		.menu-on & {
			display: block;
		}
	}
	ul { 
		.rlist;
		display: table;
		width: 100%;
		text-align: center;
		@media @xs, @xxs {
			overflow: hidden;
		}
		li { 
			.fh;
			display: table-cell;
			padding: 0 20px;
			vertical-align: middle;
			@media @xs, @xxs {
				display: block;
				padding: 0;
				margin: 0 -20px;
				text-align: left;
				border-bottom: 1px solid @c2;
			}
			&:before {
				.rotate(12deg);
				height: 50px;
				width: 1px;
				top: 50%;
				margin: -47px 0 0;
				background: #b2b2b2;
				@media @xs, @xxs {
					display: none;
				}
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a { 
				display: block;
				padding: 16px 0 56px;
				font-size: 17px;
				line-height: 1.2;
				text-decoration: none;
				text-transform: uppercase;
				color: @c1;
				@media @xs, @xxs {
					display: block;
					font-size: 20px;
					padding: 20px 50px;
					font-weight: 500;
				}
				&:hover{
					color: @c3;
				}
			}
			&.act {
				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 20px;
					right: 20px;
					height: 6px;
					background: @c4;
					@media @xs, @xxs {
						background: none;
					}
				}
				&>a {
					color: @c3;
				}
			}
		}
	}
}
.mod_articles_category-slideshow { 
	position: relative;
	overflow: hidden;
	@media @xs, @xxs {
		margin: 0 0 40px;
		.menu-on & {
			display: none;
		}
	}
	.mod-items { 
		.mod-item { 
			width: 100%;
			position: relative;
			display: none;
			overflow: hidden;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			@media @xs, @xxs {
				padding: 0 0 60%;
			}
			&:nth-child(1) {
				display: block;
			}
			figure {
				display: none;
			}
			@media @lg, @md, @sm {
				.item-content { 
					display: table-cell;
					top: 0;
					left: 0;
					vertical-align: middle;
					padding: 40px 0;
					height: 400px;
					h2 { 
						.box-shadow(4px 4px 4px fade(#000,20));
						position: relative;
						z-index: 1;
						float: left;
						text-transform: uppercase;
						color: @c2;
						font-size: 56px;
						line-height: 1;
						font-weight: bold;
						margin: 0;
						padding: 26px 74px 18px 45px;
						background: #fff;
						@media @md, @sm {
							font-size: 42px;
						}
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: -20px;
							bottom: 0;
							width: 40px;
							background: #fff;
							-ms-transform: skew(-12deg);
							-webkit-transform: skew(-12deg);
							transform: skew(-12deg);
						}
					}
					p { 
						.fh;
						clear: both;
						position: relative;
						float: left;
						font-size: 25px;
						line-height: 1.2;
						padding: 21px 25px 18px 45px;
						margin: 0;
						background: #e6e6e6;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: -20px;
							bottom: 0;
							width: 40px;
							background: #e6e6e6;
							-ms-transform: skew(-12deg);
							-webkit-transform: skew(-12deg);
							transform: skew(-12deg);
						}
					}
					nav { 
						clear: both;
						position: relative;
						float: left;
						margin: 35px 0 0 28px;
						background: @c4;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: -10px;
							bottom: 0;
							width: 20px;
							background: @c4;
							-ms-transform: skew(-12deg);
							-webkit-transform: skew(-12deg);
							transform: skew(-12deg);
						}
						a { 
							.fh;
							position: relative;
							display: block;
							text-decoration: none;
							text-align: center;
							font-size: 25px;
							height: 60px;
							line-height: 60px;
							padding: 0 30px 0 82px;
							color: @c2;
							&:before, &:after {
								.fi;
								.transition(0.1s);
								content: '';
								position: absolute;
								top: 0;
								bottom: 0;
								left: -20px;
								font-size: 30px;
								line-height: 54px;
								padding: 6px 0 0 4px;
								width: 68px;
								color: #fff;
							}
							&:before {
								background: @c2;
								-ms-transform: skew(-12deg);
								-webkit-transform: skew(-12deg);
								transform: skew(-12deg);
							}
							&:after {
								content: '\e80a';
							}
							&:hover{
								&:before, &:after {
									width: 90px;
								}
							}
						}
					}
				}
			}
			@media @xs, @xxs {
				.container {
					position: static;
				}
				.item-content {
					position: absolute;
					z-index: 101;
					bottom: 0;
					left: 0;
					right: 0;
					height: auto!important;
					color: #fff;
					padding: 15px 20px 40px;
					text-align: center;
					background: fade(@c3,75);
					h2 {
						font-size: 24px;
						margin: 0;
						color: #fff;
					}
					p {
						margin: 0;
						display: inline;
					}
					nav {
						display: inline;
						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
	.prev, .next {
		.transition(0.2s);
		position: absolute;
		z-index: 101;
		top: 50%;
		left: -10px;
		width: 88px;
		height: 82px;
		line-height: 82px;
		font-size: 0;
		text-align: center;
		margin: -41px 0 0;
		@media @md {
			width: 50px;
		}
		@media @xs, @xxs {
			display: none;
		}
		&:before, &:after {
			.fi;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			font-size: 30px;
		}
		&:before {
			.transition(0.2s);
			background: @c4;
			-ms-transform: skew(-12deg);
			-webkit-transform: skew(-12deg);
			transform: skew(-12deg);
		}
		&:after {
			content: '\e809';
		}
		&:hover{
			color: @c4;
			&:before {
				background: @c2;
			}
		}
	}
	.next {
		left: auto;
		right: -10px;
		&:after {
			content: '\e80a';
		}
	}
	.pager {
		position: absolute;
		right: 50%;
		bottom: 40px;
		text-align: center;
		margin: 0 -(@content-width/2-12) 0 0;
		z-index: 101;
		@media @md {
			margin-right: -(@content-width-md/2-12);
		}
		@media @sm {
			margin-right: -(@content-width-sm/2-12);
		}
		@media @xs, @xxs {
			right: 20px;
			left: 20px;
			bottom: 10px;
			margin: 0;
		}
		span {
			display: inline-block;
			width: 24px;
			height: 24px;
			font-size: 0;
			margin: 0 8px;
			border: 6px solid transparent;
			background: @c4;
			cursor: pointer;
			&.cycle-pager-active, &:hover {
				border-color: @c2;
			}
		}
	}
}
.mod_menu-category { 
	position: relative;
	z-index: 101;
	padding: 0 0 24px;
	margin: 0 0 100px;
	background: #e6e6e6;
	@media @xs, @xxs {
		display: none;
		padding: 0;
		overflow: hidden;
		margin: 0 0 50px;
		.menu-on & {
			display: block;
		}
	}
	&:before {
		.fi;
		.border-radius(40px 40px 0 0);
		.box-shadow(inset 3px 3px fade(#000,12));
		content: '\e808';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 80px;
		height: 48px;
		line-height: 43px;
		text-align: center;
		font-size: 26px;
		padding: 5px 0 0;
		margin: 0 0 0 -40px;
		color: fade(#000,20);
		background: fade(#fff,50);
	}
	.container { 
		padding: 0 10px;
		ul { 
			.rlist;
			position: relative;
			top: -30px;
			display: flex;
			flex-flow: row wrap;
			@media @xs, @xxs {
				display: block;
				top: 0;
				margin: 0 -20px;
			}
			li { 
				.fh;
				width: 16.6666%;
				vertical-align: top;
				padding: 13px 28px 44px;
				margin: 0 0 30px;
				font-size: 25px;
				line-height: 1.3;
				@media @md {
					font-size: 20px;
				}
				@media @sm {
					width: 33.3333%;
					flex: 1 1 -40%;
				}
				@media @xs, @xxs {
					width: auto;
					margin: 0;
					padding: 20px 30px 30px;
					border-top: 1px solid darken(@c2,15);
				}
				&:before {
					top: 100%;
					left: 10px;
					right: 10px;
					height: 10px;
					background: url(../images/bg/01.png) no-repeat top;
					background-size: 100% 100%;
				}
				&:after {
					position: absolute;
					content: '';
					bottom: 0;
					right: 10px;
					border-top: 32px solid transparent;
					border-right: 32px solid #e6e6e6;
					@media @xs, @xxs {
						border-right-color: darken(@c2,15);
					}
				}
				a { 
					.transition(0.2s);
					color: #fff;
					text-decoration: none;
					&:before, &:after {
						.transition(0.2s);
						content: '';
						position: absolute;
						top: 0;
						right: 10px;
						left: 10px;
						bottom: 32px;
						background: @c2;
					}
					&:after {
						top: auto;
						bottom: 0;
						height: 32px;
					}
					&:hover{
						color: @c2;
						&:before, &:after {
							background: @c4;
						}
					}
					span {
						&:before, &:after {
							.fi;
							content: '';
							position: absolute;
							z-index: 1;
							bottom: 0;
							right: 13px;
							height: 32px;
							width: 40px;
							line-height: 32px;
							color: @c2;
							font-size: 12px;
							text-align: center;
						}
						&:before {
							background: @c4;
							-ms-transform: skew(-12deg);
							-webkit-transform: skew(-12deg);
							transform: skew(-12deg);
						}
						&:after {
							content: '\e80a';
						}
						mark {
							position: relative;
							z-index: 1;
						}
					}
				}
			}
		}
	}
}
.mod_articles_category-articles { 
	margin: 0 0 68px;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.container { 
		.mod-title { 
			.fh;
			color: @c2;
			font-size: 36px;
			line-height: 1.2;
			text-align: center;
			margin: 0 0 74px;
			&:before, &:after {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 1px;
				height: 50px;
				background: #7d7d7d;
				-ms-transform: skew(-12deg);
				-webkit-transform: skew(-12deg);
				transform: skew(-12deg);
				@media @xs, @xxs {
					display: none;
				}
			}
			&:before {
				margin: 0 50px 0 0;
			}
			&:after {
				margin: 0 0 0 50px;
			}
		}
		.mod-items { 
			margin: 0 -20px;
			@media @md {
				margin: 0 -10px;
			}
			.mod-item { 
				.clearfix;
				display: inline-block;
				vertical-align: top;
				width: 50%;
				padding: 0 20px;
				margin: 0 -4px 40px 0;
				@media @md {
					padding: 0 10px;
				}
				@media @sm {
					width: 100%;
				}
				@media (max-width: 520px) {
					display: block;
					width: 100%;
					max-width: 360px;
					margin: 0 auto 30px;
				}
				a { 
					text-decoration: none;
					color: @c1;
					figure { 
						float: left;
						width: 40%;
						margin: 4px 0;
						@media @sm {
							width: 25%;
						}
						@media @xs, @xxs {
							width: 100%;
							margin: 0 0 15px;
						}
						img { 
							display: block;
						}
					}
					.mod-content { 
						float: left;
						width: 60%;
						padding: 0 0 0 24px;
						@media @sm {
							width: 75%;
						}
						@media @xs, @xxs  {
							padding: 0;
							width: 100%;
						}
						.mod-date { 
							.fh;
							position: relative;
							float: left;
							width: 60px;
							font-size: 23px;
							line-height: 1.1;
							color: #808080;
							&:before {
								content: '';
								position: absolute;
								right: 0;
								top: 50%;
								width: 1px;
								height: 50px;
								margin: -25px 0 0;
								background: #b7b7b7;
								-ms-transform: skew(-12deg);
								-webkit-transform: skew(-12deg);
								transform: skew(-12deg);
							}
							mark { 
								display: block;
								color: #c7c7c7;
							}
						}
						h2 { 
							margin: 0 0 10px 75px;
							font-size: 23px;
							line-height: 1.1;
							color: @c2;
							font-weight: normal;
							&:hover{
								text-decoration: underline;
							}
						}
						p { 
							clear: both;
							&:after {
								.fi;
								content: '\e80a';
								color: @c2;
								font-size: 14px;
								margin: 0 0 0 5px;
							}
						}
					}
				}
			}
		}
		nav { 
			margin: 20px 0;
			text-align: center;
			@media @xs, @xxs {
				margin-top: 0;
			}
			a { 
				.fh;
				position: relative;
				display: inline-block;
				vertical-align: middle;
				font-size: 25px;
				text-decoration: none;
				padding: 15px 38px;
				line-height: 1.2;
				&:before {
					.transition(0.2s);
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border: 1px solid @c4;
					-ms-transform: skew(-12deg);
					-webkit-transform: skew(-12deg);
					transform: skew(-12deg);
				}
				&:hover{
					&:before {
						border-color: @c2;
					}
				}
			}
		}
	}
}
.mod_custom-contact { 
	position: relative;
	background: @c4;
	@media @xs, @xxs  {
		border-top: 6px solid @c2;
		.menu-on & {
			display: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 200px;
		margin: 0 0 0 -340px;
		background: @c4;
		-ms-transform: skew(-12deg);
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
		@media @md {
			margin-left: -240px;
		}
		@media @sm {
			margin-left: -130px;
		}
		@media @xs, @xxs {
			display: none;
		}
	}
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 50%;
		height: 40px;
		margin: 0 108px 0 0;
		background: #fff;
		-ms-transform: skew(-12deg);
		-webkit-transform: skew(-12deg);
		transform: skew(-12deg);
		@media @md {
			margin-right: 8px;
		}
		@media @sm {
			margin-right: -102px;
		}
		@media @xs, @xxs {
			display: none;
		}
	}
	.container { 
		position: static;
		.mod-content { 
			position: relative;
			z-index: 1;
			width: 380px;
			padding: 75px 0 29px 120px;
			@media @xs, @xxs {
				width: auto;
				padding-top: 30px;
			}
			@media @xxs {
				padding-left: 0;
			}
			&:before {
				.fi;
				.border-radius(50%);
				content: '\e80d';
				position: absolute;
				top: 70px;
				left: 0;
				width: 58px;
				height: 58px;
				line-height: 54px;
				font-size: 34px;
				text-align: center;
				color: #fff;
				border: 2px solid #fff;
				@media @xxs {
					display: none;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 100px;
				height: 130px;
				width: 2px;
				background: #fff;
				-ms-transform: skew(-12deg);
				-webkit-transform: skew(-12deg);
				transform: skew(-12deg);
				@media @xxs {
					display: none;
				}
			}
			address { 
				font-style: normal;
				font-size: 15px;
				line-height: 1.6;
				margin: 0 0 12px;
				mark { 
					.fh;
					font-size: 23px;
					line-height: 1.2;
					color: @c2;
					display: block;
					margin: 0 0 12px;
				}
			}
			table { 
				margin: 0 0 20px;
				tbody { 
					.highlight { 
						color: @c2;
					}
					tr { 
						th, td { 
							font-size: 15px;
							line-height: 1.2;
							font-weight: normal;
							padding: 0 0 4px;
							mark {
								font-size: 24px;
							}
							a {
								color: @c1;
							}
						}
						th {
							padding: 0 10px 0 0;
						}
					}
				}
			}
		}
		.mod-map { 
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 50%;
			margin: 0 0 0 -180px;
			overflow: hidden;
			@media @md {
				margin-left: -80px;
			}
			@media @sm {
				margin-left: 30px;
			}
			@media @xs, @xxs {
				position: relative;
				left: 0;
				margin: 0 -20px;
				padding: 0 0 50%;
			}
			.toggle { 
				position: absolute;
				z-index: 1;
				left: 0;
				top: 0;
				color: #fff;
				padding: 0;
				font-weight: normal;
				height: 40px;
				width: 48px;
				text-decoration: none;
				text-align: center;
				line-height: 40px;
				margin: 0 0 0 72px;
				background: transparent;
				@media @xs, @xxs {
					left: auto;
					margin: 0;
					right: -8px;
					width: 60px;
				}
				&:before {
					.transition(0.2s);
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: @c2;
					-ms-transform: skew(-12deg);
					-webkit-transform: skew(-12deg);
					transform: skew(-12deg);
				}
				&:after {
					.fi;
					content: '\f0b2';
					position: relative;
				}
				&:hover{
					&:before {
						background: @c3;
					}
				}
			}
			iframe { 
				position: absolute;
				top: -50%;
				left: -50%;
				width: 200%;
				height: 200%;
				display: block;
				margin: 0;
				border: 0;
			}
		}
	}
}
.mod_menu-footer {
	.rlist;
	float: left;
	width: 33.3333%;
	text-align: center;
	@media @sm, @xs, @xxs {
		width: 100%;
	}
	li {
		display: inline-block;
		font-size: 13px;
		margin: 0 5px;
		&:after {
			content: '|';
			margin: 0 0 0 15px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_custom-copy-copy {
	float: left;
	font-size: 13px;
	width: 33.3333%;
	@media @sm, @xs, @xxs {
		width: 100%;
		text-align: center;
	}
}
.mod_custom-copy-xart {
	float: right;
	width: 33.3333%;
	text-align: right;
	@media @sm, @xs, @xxs {
		width: 100%;
		text-align: center;
	}
	a {
		display: inline-block;
		color: @c1;
		font-size: 11px;
		text-decoration: none;
		text-transform: uppercase;
		&:after {
			.fi;
			content: '\e80c';
			position: relative;
			top: -1px;
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			margin: 0 0 0 10px;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}
.mod_breadcrumbs {
	margin: 10px 0 30px;
	@media @xs, @xxs {
		margin: 0 -20px;
		padding: 20px;
		border-top: 1px solid @c2;
		.menu-on & {
			display: none;
		}
	}
	ul {
		.rul;
		li {
			display: inline-block;
			font-size: 13px;
			color: @c2;
			margin: 0 5px 0 0;
			&:before {
				color: #aaa;
			}
			&:first-child {
				padding-left: 0;
				&:before {
					display: none;
				}
			}
			a {
				color: #aaa;
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 10px 0 40px;
	@media @xs, @xxs {
		display: none;
		margin: 0 -20px;
		.menu-on & {
			display: block;
		}
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 13px;
			@media @xs, @xxs {
				margin: 0;
				border-top: 1px solid darken(@c2,10);
			}
			&:before {
				top: 100%;
				right: 0;
				left: 0;
				height: 10px;
				background: url(../images/bg/01.png) no-repeat top;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				border-left: 8px solid transparent;
				border-bottom: 32px solid #fff;
			}
			&>a {
				.fh;
				.transition(0.2s);
				position: relative;
				display: block;
				color: #fff;
				text-decoration: none;
				padding: 12px 30px 13px 18px;
				font-size: 21px;
				line-height: 1.2;
				background: @c2;
				@media @xs, @xxs {
					padding: 20px 30px;
				}
				&:before, &:after {
					.fi;
					content: '';
					position: absolute;
					z-index: 1;
					bottom: 0;
					right: 3px;
					height: 32px;
					width: 38px;
					line-height: 32px;
					color: @c2;
					font-size: 12px;
					text-align: center;
				}
				&:before {
					background: @c4;
					-ms-transform: skew(-12deg);
					-webkit-transform: skew(-12deg);
					transform: skew(-12deg);
				}
				&:after {
					content: '\e80a';
				}
				&:hover{
					color: @c2;
					background: @c4;
				}
			}
			&.act{
				&>a {
					color: @c2;
					background: @c4;
					&:before {
						background: @c3;
					}
					&:after {
						color: #fff;
					}
				}
			}
			&>li {
				&>a {
					background: @c4;
				}
			}
			&>ul {
				position: relative;
				padding: 20px 25px 18px;
				margin: 0 0 20px;
				background: #dee2ec;
				@media @xs, @xxs {
					margin: 0;
				}
				&:before {
					content: '';
					position: absolute;
					bottom: 100%;
					right: 0;
					width: 32px;
					height: 32px;
					background: #dee2ec;
				}
				&>li {
					line-height: 1.2;
					padding: 0 0 0 20px;
					margin: 0 0 4px;
					&:before {
						top: 4px;
						color: @c2;
					}
					&>a {
						.fh;
						text-transform: uppercase;
						text-decoration: none;
						color: @c1;
					}
					&.act {
						&>a {
							font-weight: bold;
							color: @c2;
						}
					}
				}
			}
		}
	}
}